#body {
    margin: 0;
}

#header {
    background-color: #1F1F1F;
}

#header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;

    display: grid;
    grid-template-columns: 60px 1fr 28px;
    align-items: center;
}

#burger {
    display: none;
}

#header-logo {
    width: 60px;
}

#header-logo img {
    max-width: 100%;
}

#header-menu {
    justify-self: center;
}

#header-menu a {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #BDBDBD;
    text-decoration: none;
    margin: 0 25px;
}

#header-menu a.active {
    color: white;
}

#header-menu a:hover {
    color: white;
    border-bottom: 2px solid white;
}

#header-search {
}

#header-search:hover {
    opacity: 0.5;
    cursor: pointer;
}

#main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 53px;

    display: grid;
    grid-column-gap: 47px;
    grid-template-columns: 1fr 1fr;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #1F1F1F;
    margin: 0;
}

#main-info-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    color: #1F1F1F;
    margin-top: 41px;
}

#main-info-description {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.08em;
    color: #1F1F1F;
    margin-top: 14px;
}

#main-info-actions {
    margin-top: 33px;
}

#main-info-watch {
    padding: 10px;
    width: 136px;
    box-sizing: border-box;
    display: inline-block;
    background: #FE6388;
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

#main-info-watch:hover {
    background-color: #a54353;
}

#main-info-watch:active {
    background-color: #713138;
}

#main-info-actions .main-info-action {
    background: #1F1F1F;
    border-radius: 5px;
    width: 38px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
}

#main-info-actions .main-info-action:hover {
    opacity: 0.5;
}

#main-info-actions .main-info-action:active {
    opacity: 0.5;
}

#main-image {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
}

#films {
    margin-top: 90px;
}

#films-container {
    max-width: 1200px;
    margin: 0 auto;
}

#films-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #1F1F1F;
    text-align: center;
}

#films-items {
    margin-top: 35px;

    display: grid;
    gap: 20px 24px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 384px));
    margin-bottom: 10px;
    justify-content: center;
}

#films-items .film-item {
    margin: 10px 12px;
    border-radius: 10px;
}

#films-items .film-item img {
    vertical-align: bottom;
    max-width: 100%;
}

#films-items .film-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.40);
}

#films-more {
    text-align: center;
    margin-top: 35px;
}

#films-more div {
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.08em;
    color: #BDBDBD;
    margin-top: 5px;
    margin-bottom: 50px;
}

#films-more:hover div {
    color: #1F1F1F;
}

#films-more:hover {
    cursor: pointer;
}